@model IEnumerable<Secretaria.FrontEnd.Identity.ApplicationUser>

@{
    ViewBag.Title = "Usuarios";
}

<h1 class="display-4">Usuarios</h1>
<a asp-action="CrearUsuario" asp-controller="Administracion" class="btn btn-outline-primary mb-3" style="width:auto"><i class="fad fa-user"></i> Nuevo Usuario</a>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Username</th>
                <th scope="col">Creado Por</th>
                <th scope="col">Fecha Creación</th>
                <th scope="col">IP</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.NombreCompleto</td>
                    <td>@user.UserName</td>
                    <td>@user.CreatedBy</td>
                    <td>@user.CreationDate</td>
                    <td>@user.CreationIp</td>
                    <td>
                        <form asp-action="BorrarUsuario" asp-route-id="@user.Id" method="post">
                            <a asp-controller="Administracion" asp-action="EditarUsuario" asp-route-id="@user.Id" class="btn btn-outline-primary">Editar</a>
                            <span id="confirmDeleteSpan_@user.Id" style="display:none">
                                <span>Seguro?</span>
                                <button type="submit" class="btn btn-outline-danger">Aceptar</button>
                                <a href="#" class="btn btn-outline-primary" onclick="confirmDelete('@user.Id', false)">Cancelar</a>
                            </span>

                            <span id="deleteSpan_@user.Id">
                                <a href="#" class="btn btn-outline-danger" onclick="confirmDelete('@user.Id', true)">Borrar</a>
                            </span>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script>
    function confirmDelete(uniqueId, isTrue) {

        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

        if (isTrue) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }
</script>
